##==================================================================================
##  認証情報・秘密鍵・環境変数
##==================================================================================
*credentials*
*.pem
*.key
*.keystore
*.jks
.env
.env.*
.env.local
.env.*.local
secrets.yml
secrets/
docs/internal/

##==================================================================================
##  個人用ディレクトリ
##==================================================================================
private/

##==================================================================================
##  アーカイブファイル
##==================================================================================
*.jar
*.war
*.zip
*.tar.gz
*.rar
*.nar
*.ear

##==================================================================================
##  バイナリファイル
##==================================================================================
*.class
*.o

## Windows
*.exe
*.dll
*.obj

## Linux
*.so

## Mac OS
*.dylib

##==================================================================================
##  ビルドツール固有のファイルとディレクトリ
##==================================================================================
##  Gradle
.gradle/
.kotlin/
build/
gradle-app.setting
gradle-local.properties

##  Maven
target/
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

##  Ant
##  以下のディレクトリはAntのデフォルト設定です。
##  Antはbuild.xml内の定義を編集することにより、出力先を変更可能です。
##  必ずプロジェクト内のbuild.xmlを確認してください。
build/
dist/
jlink/
javadoc/
lib/retrieved/
cache/
build.log

##==================================================================================
##  ログファイル・一時ファイル
##================================================================================== 
*.log
logs/
tmp.*
*.tmp
*.bak
*.swp
*.swap
*.swo
.~lock
*~

##  Windows
desktop.ini
*.lnk
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

## Linux
.Trash-*
.directory
*.tmp
.#*
core
core.*

## Mac OS
.DS_Store
.AppleDouble
.LSOverride
._*
.Trashes
.Trashes/

##==================================================================================
##  IDE固有のファイルとディレクトリ
##================================================================================== 
## IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

## Eclipse
.settings/
.project
.classpath
.apt_generated
.factorypath
*.launch

## NetBeans
.nb-gradle/
nbproject/private/
nbdist/

## VS Code
.vscode/
